body{
    background-color: black
}

.letraMenu {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    font-family: Time new roman 
}

footer a{
    text-decoration: none;
    color: black;
}

section h2, h3, h5{
    color: wheat;
    text-align: center;
}

.letra1{
    color: wheat;
    text-align: center;
}

.boton1{
    color: darkslategrey;
    text-align: center;
    text-decoration: none;

}