<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">


    
    <link rel="icon" href="../assets/logo.png">
    <title>Starbucks</title>
  </head>
  <body>
<!-- Menu navegacion -->
<header>
      <div class="row show-grid bg-dark" align="center" style="padding:10px; margin: auto">
    <a class="col-sm-12 col-xl-1" href="index.html" style="padding: 10px; margin: auto" align="center"><img src="../assets/logo.png" width="70px"></a>
       
      <div class="row show-grid bg-success col-sm-12 col-xl-11 bg-light" align="center" style="padding:10px; margin: auto">  
    <a class="letraMenu col-sm-12" href="index.html" align="center" style="color: darkslategray"><span>Localiza Starbucks</span></a>
    <a class="letraMenu col-md-4 col-xs-12 bg-success" href="fechas.html" >Menu</a>
    <a class="letraMenu col-md-4 col-xs-12 bg-success" href="#" >Dia de la madres</a>
    <a class="letraMenu col-md-4 col-xs-12 bg-success" href="#" >Café</a>
    <a class="letraMenu col-md-4 col-xs-12 bg-success" href="#" >Impacto Social</a>
    <a class="letraMenu col-md-4 col-xs-12 bg-success" href="#" >Blog</a>
    <a class="letraMenu col-md-4 col-xs-12 bg-success" href="#" >Acerca de</a>
      </div>  
      </div>  
</header>
   
<!-- Imagenes Presentacion  -->
<section>
    <div class="row bg-dark" align="center" style=" margin: 0 auto;">
        <img src="../assets/fondo1.png" style="margin-bottom: 0px">
        <img src="../assets/fondo2.png" style="margin-bottom: 0px">
        <img src="../assets/fondo3.png" style="margin-bottom: 0px">
    </div>
</section>   

<!-- Routing -->
<section>
    <div class="row bg-dark justify-content-md-center" style=" margin: 0 auto;">
      <h5 class="bg-success col-sm-12" style="margin-top: 20px">{{texto1 | uppercase}}</h5>
      <nav class="col-sm-12">
        <ul class="nav justify-content-center nav-pills">
          <li class="nav-item"><a class="nav-link " routerLink="/producto-uno-component" routerLinkActive="active">Montaña Express</a></li>
          <li class="nav-item"><a class="nav-link " routerLink="/producto-dos-component" routerLinkActive="active">Teavana</a></li>
          <li class="nav-item"><a class="nav-link " routerLink="/producto-tres-component" routerLinkActive="active">Berry Blue</a></li>
          <li class="nav-item"><a class="nav-link " routerLink="/formulario-component" routerLinkActive="active">Ayudanos a mejorar</a></li>        
        </ul>
      </nav>
      <router-outlet></router-outlet>
    </div>
</section>

<!-- Reciclaje -->
<section>
    <div class="row bg-dark justify-content-md-center" align="center" style=" margin: 0 auto; margin-top: 0px;" >
        <img src="../assets/reciclar.jpg" class="col-lg-6" width="300px" style="margin: 10px">
        <aside class="col-lg-4 bg-dark" style="margin: 10px">
            <h3 style="color: snow">{{texto2| uppercase}}</h3><br>
            <p style="color: snow">El cuidado del medio ambiente es muy importanten para nosotros. <br>
            Por lo que estamos comprometidos a ayudar a conservarlo, ¡TRAE TU PROPIO VASO!. Ahora en todas
            nuestras sucursales estaremos agradeciendo y haciendo descuentos especiales mas uno mencion
            honorifica a nuestros clientes que aporten con esta iniciativa. <br>
            ¡PARTICIPA! Ten una idea de lo que consumes ! Ingresa la cantidad aproximada de botellas de plastico
            que consumes a la semana </p>
            <input type="number" max="100" min="0" [(ngModel)]="numeroEco2">
            <button (click)="calcular()" class="btn btn-primary mb-2">Ver</button>
            <div *ngIf="numeroEco == 0"  style="color: wheat;"></div>
            <div *ngIf="numeroEco > 0 && numeroEco <= 4"  style="color: wheat;">Ahorras mas que el 90% de la poblacion </div>
            <div *ngIf="numeroEco == 5"  style="color: wheat;">Ahorras mas que el 70% de la poblacion!</div>
            <div *ngIf="numeroEco > 5 && numeroEco <=10"  style="color: wheat;">Ahorras mas que el 50% de la poblacion!</div>
            <div *ngIf="numeroEco >10 && numeroEco <=15"  style="color: wheat;">Ahorras mas que el 30% de la poblacion!</div>
            <div *ngIf="numeroEco > 15"  style="color: wheat;">Estas junta la minoria! ahorras mas del 5% de la poblacion</div>

              <br>
            <a href="https://ecoplas.org.ar/2018/08/10/los-vasos-plasticos-son-sustentables-y-reciclables/#:~:text=Los%20vasos%20pl%C3%A1sticos%20son%20reciclables,de%20pl%C3%A1sticos%20son%20100%20%25%20reciclables.">Mas informacion </a>
        </aside>
    </div>
</section> 

                   
<!-- Precio de productos -->
<section>
    <div class="row bg-dark justify-content-md-center" style=" margin: 0 auto;">
      <h5 class="bg-success col-sm-12" style="margin-top: 20px">{{ texto3 | uppercase }}</h5>
          <app-precios></app-precios>
    </div>
</section>

<!-- Fecha -->
<section>
  <div class="row bg-dark justify-content-md-center" style=" margin: 0 auto; text-align: center;">
        <p style="color: thistle; margin-top: 20px;"> {{fecha | date}}</p>
  </div>
</section>
                    
<!-- Footer -->
<footer>
    <div class="row bg-dark" style="margin: 0 auto">
       <div class="table-responsive-sm">
        <table class="table table-success table-borderless" style="margin-top: 70px">
          <thead>
            <tr>
              <th>FNSM</th>
              <th>Ofertas/Compras</th>
              <th>Servicio al cliente</th>
              <th>Vinculos Rapidos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td><a href="#">Nuestra herencia</a></td>
                <td><a href="#">Garcirecompensas</a></td>
                <td><a href="#">Contactanos</a></td>
                <td><a href="#">Buscar atracciones</a></td>
            </tr>
            <tr>
              <td><a href="#">Boletin prensa</a></td>
              <td><a href="#">Mi cuenta</a></td>
              <td><a href="#">Preguntas frecuentes</a></td>
              <td><a href="#">Terminos y condiciones</a></td>
            </tr>
            <tr>
                <td><a href="#">Trabaja con nosotros</a></td>
                <td><a href="#">Mas informacion</a></td>
                <td><a href="#">Facturas electronicas</a></td>
                <td><a href="#">Patrocinadores</a></td>
            </tr>
            <tr>
                <td><a href="#">Nuestra Empresa</a></td>
                <td></td>
                <td></td>
                <td><a href="#">Socios</a></td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
</footer>        
      
      
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

     <!--    <script src="js/bootstrap.bundle.min.js"></script>  -->
  </body>
</html>
<!--navbar-brand -->
